# Node.js
node_modules
.DS_Store
rago-ui/dist
rago-ui/.next

# Python
__pycache__/
*.py[co]
.venv/
rag-pdf-service/vectorstore/__pycache__/faiss_store.cpython-312.pyc
rag-pdf-service/vectorstore/__pycache__/faiss_store.cpython-312.pyc

# Service-specific ignores
rag-pdf-service/app.db
rag-pdf-service/.env