EMBEDDING_MODEL="Enter your value here"
VECTOR_STORE_PATH="Enter your value here"

# Database URL
# SQLALCHEMY_DATABASE_URL="sqlite:///./app.db"  # For SQLite
SQLALCHEMY_DATABASE_URL="Enter your value here"

# JWT Settings
SECRET_KEY="Enter your value here"
ALGORITHM="Enter your value here"
ACCESS_TOKEN_EXPIRE_MINUTES="Enter your value here"
REFRESH_TOKEN_EXPIRE_DAYS="Enter your value here"
