ipykernel
openai
python-dotenv
langchain
langchain-community
langchain-core
tiktoken
pypdf
langchain-openai
faiss-cpu
sentence-transformers
langchain-huggingface
huggingface_hub
beautifulsoup4
langgraph
pydantic
langchain-classic
Streamlit
langchain-groq
fastapi
langserve
uvicorn
sse_starlette
arxiv
wikipedia
tavily-python
python-multipart
sqlalchemy
pydantic[email]
passlib
bcrypt==4.0.1
python-multipart
python-jose[cryptography]
pydantic-settings
langsmith

# For OCR with pytesseract
pytesseract
pdf2image
Pillow


